<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/images (2).png" alt="Fiver">
            <h1 class="display-4 ">Fiverr</h1>
            <p class="lead ">Freelance</p>
        </div>
    </div>
</div>